.caretjs {
  display: inline-block;
  font-family: monospace;
}

.caretjs + span {
  font-family: monospace;
  background: transparent;
  position: relative;
  right: 0;
  margin: 0;
}

.caretjs + span > span {
}

#caret1 {
  background-color: gray;
  color: #fff;
}

#caret2 {
  background-color: green;
  color: yellow;
}
