.background {
  background-color: #101010;
  color: white;
  padding: 8vh 2vh 2vh 2vh;
  min-height: 100vh;
}

input.input {
  border: none;
  background-color: #101010;
  color: white;
  font-size: 15px;
}

input.input:focus {
  border: none;
  caret-color: white;
  outline: none;
  font-size: 15px;
}

.indent {
  text-indent: 20px;
}

.hyperlink {
  margin-left: 5px;
  color: white;
  text-decoration: none;
}

.hyperlink:link {
  color: white;
}

.hyperlink:visited {
  color: white;
}

.hyperlink:hover {
  color: white;
}

.hyperlink:active {
  color: white;
}

@media (min-width: 992px) {
  .img {
    margin-left: 5vw;
  }
}
